/* ********************* */
/*    General Styling    */
/* ********************* */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

/* ************ */
/*    Header    */
/* ************ */

header {
  width: 100%;
}

/* ********** */
/*    Main    */
/* ********** */

main {
  display: flex;
  flex-direction: column;
}

main section {
  width: 100%;
  min-height: 300px;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

/* Frontpage */
main section.frontpage {
  background-color: rgb(44, 44, 44);
  min-height: 100vh;
}

/* Section 1 */
main section.section-1 {
  background-color: rgb(234, 234, 234);
  min-height: 100vh;
}

/* Section 2 */
main section.section-2 {
  background-color: lightgrey;
}

/* Section 3 */
main section.section-3 {
  background-color: rgb(180, 180, 180);
  min-height: 50vh;
}

/* Section 4 */
main section.section-4 {
  background-color: rgb(131, 131, 131);
  min-height: 50vh;
}

/* ************ */
/*    Footer    */
/* ************ */

footer {
  width: 100%;
  min-height: 300px;
}