/* ******************** */
/*    CSS Properties    */
/* ******************** */

:root[data-theme="light"] {
  color-scheme: light;
  --text: white;
  --background: linear-gradient(to left,#99ccff  0%, #3399ff 50%, #000099 100%);
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --text: black;
  --background: linear-gradient(to right, #ff3300 0%,#ff0000 50%, #800000 100%);
}

body {
  color: var(--text);
  background: var(--background);
}

/* **************** */
/*    Typography    */
/* **************** */

/* General */



h1, h2, h3 { width: 100%; text-align: center; padding-bottom: 20px; }

/* Header */
/* Main - Startpage */
/* Main - Section 1 */
/* Main - Section 2 */
/* Main - Section 3 */
/* Main - Section 4 */
/* Footer */