/* ******************** */
/*    CSS Properties    */
/* ******************** */

:root[data-theme="cold"] {
  color-scheme: light;
  --text: white;
  --team-burn: rgb(0 128 255);
  --secondary-heading-color: #3500ff;
  --secondary-background-gradient: linear-gradient(75deg, #99ccff93 0%, #3399ff9d 50%, #000099a9 100%);
  --background: linear-gradient(to left, #99ccff93 0%, #3399ff9d 50%, #000099a9 100%);
  --background-section: rgb(55 60 120);
  --heading-color: #3500ff;
}

:root[data-theme="warm"] {
  color-scheme: dark;
  --text: black;
  --team-burn: #ffba00;
  --secondary-heading-color: rgb(255 73 0);
  --secondary-background-gradient: linear-gradient(75deg, #00000033 0%, #ff650099 50%, #ffde0296 100%);
  --background: linear-gradient(to right, #cc6600 0%, #ff330093 50%, #8000008f 100%);
  --background-section: rgb(231 218 207);
  --heading-color: #ffba00;
  --border-radius: 25px;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: 'Open Sans', sans-serif;
}

main section {
  border-radius: var(--border-radius);

}

/* **************** */
/*    Typography    */
/* **************** */

/* General */
h1,
h2,
h3 {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

h1 { font-size: 60px; }
h2 { font-size: 44px; }
h3 { font-size: 30px; }

/* Header */
header nav ul li a {
  display: inline-block;
  font-size: 18px;
  color: white;
  padding: 10px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  text-shadow: 0px 0px 5px black;
}

header nav ul li.active a {
  padding-left: 25px;
}

header nav ul li a:hover {
  padding-left: 25px;
}

header nav ul li::marker {
  color: white;
}

/* Main - Startpage */
main section#frontpage h1 { color: white; text-shadow: 0px 4px 0px var(--secondary-heading-color); padding-bottom: 0; line-height: 50px; }
main section#frontpage h2 { color: var(--team-burn); text-shadow: 3px -3px 0px var(--secondary-heading-color); }
main section#frontpage h2 span { text-shadow: -3px -3px 0px var(--secondary-heading-color); }

/* Main - Section 1 */
main section#section-1 h3 { margin-top: 30px; }
/* Main - Section 2 */
main section#section-2 h2 { color: var(--team-burn); text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3 ); }
/* Main - Section 3 */
/* Main - Section 4 */
/* Footer */
footer .footer_container .footer_text a {
  color: var(--heading-color); 
}